<div class="login-feilds-container" style="background: url('assets/pictures/gradient_bg.jpg');"></div>

<div class="center-container">
  <form
    autocomplete="off"
    #f="ngForm"
    class="login-form"
  >
    <img
      class="img-small login-img"
      alt="enWrite-icon"
      src="./assets/icons/png/main.png"
      *ngIf="!signedUp"
    />
    <img
      *ngIf="signedUp"
      class="img-small login-img"
      alt="enWrite-icon"
      [src]="downloadUrl"
    />
    <label *ngIf="signedUp" class="upload" for="upload">
      <input *ngIf="signedUp"
             id="upload"
             class="upload"
             type="file"
             #userPhoto
             (change)="onFileSelected($event)"
      />
      Add Picture
    </label>


    <p *ngIf="!signedUp" class="font-primary font-large">Welcome to EnWrite</p>
    <div *ngIf="!signedUp" ><p class="font-primary font-align-left">Sign-Up</p></div>
    <mat-form-field
      *ngIf="!signedUp"
      color="accent-secondary"
      class="login-input"
      appearance="outline"
    >
      <mat-label>Enter your Name</mat-label>
      <input
        autocomplete="name"
        matInput
        placeholder="John Doe"
        [formControl]="name"
        required
      />
      <mat-error *ngIf="name.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!signedUp"
      color="accent-secondary"
      class="login-input"
      appearance="outline"
    >
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        required
      />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!signedUp"
      color="accent-secondary"
      class="login-input"
      appearance="outline"
    >
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        autocomplete="off"
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
        }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field
      *ngIf="!signedUp"
      color="accent-secondary"
      class="login-input"
      appearance="outline"
    >
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        [formControl]="password"
        required
      />
      <mat-error *ngIf="password.invalid">{{
        getErrorMessage(password)
        }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-spinner
      *ngIf="spinnerVisible"
      class="spinner-small"
      mode="indeterminate"
      value="50"
      strokeWidth="3"
      diameter="60"
      color="accent"
    ></mat-spinner>
    <div class="btn-login">
      <button
        *ngIf="!signedUp"
        mat-raised-button
        (click)="login(f)"
        [ngStyle]="{ 'margin-right': '10px' }"
        class="btn btn-block login-btn"
        color="accent"
      >
        Log-In
      </button>
      <button
        *ngIf="!signedUp"
        mat-raised-button

        color="accent"
        (click)="signup(f)"
        class="btn btn-block"
      >
        Sign-Up
      </button>

      <button
        *ngIf="signedUp"
        mat-raised-button
        (click)="completeSignup()"
        class="btn btn-block"
        color="accent"
        [disabled] = "isEmailVerified"
      >
        Continue
      </button>
    </div>
  </form>
</div>
