.noteTitle {
  font-size: 1.1rem;
  font-weight: 500;
}
.noteBody {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.noteDate {
  font-size: 0.7rem;
  text-align: end;
}
.note {
  max-width: 90%;
  padding: 1.2rem 1.7rem 1.2rem 0.7rem;
  max-height: 300px;
  border-radius: 15px !important;
  outline: 1px solid var(--light-gray)  ;
}
.note:first-child {
  margin-top: 1.2rem;
}
.note:hover {
  cursor: pointer;
}
.noteDate{
  color: grey;
}
mat-icon{
  font-size: 14px;
  color: grey;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 4px;
}

@media screen and (max-width: 550px) {
  .note{
    max-width: 95%;
  }
}
@media screen and (max-width: 380px) {
  .note{
    max-width: 100%;
  }
}
