<div
  *ngIf="
    selectedNote.note_id !== undefined && selectedNote.note_id !== 'empty';
    else showEmptyMessage
  "
  class="note-editor"
  [ngStyle]="{borderTop : '30px solid ' + selectedColor}"
>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="Note Title"
    [(ngModel)]="title"

  />
  <textarea
    #bodyInput
    [(ngModel)]=" body"
    name="body"
    placeholder="Note Body"
    id="body"
  ></textarea>
  <div class="note-view-bottom-options">
    <div class="last_opened">
      <mat-icon>access_time</mat-icon>
      {{ time }}</div>
    <div>
      <button class="bt save" (click)="saveNote()">
        <mat-icon>done</mat-icon>
      </button>
      <button class="bt clear" (click)="clearInput()">
        <mat-icon>backspace</mat-icon>
      </button>
    </div>
  </div>
  <div class="colorpicker">
    <button
      *ngFor="let item of colorArray"
      mat-mini-fab
      class="fab"
      [class.mat-elevation-z1]="true"
      [ngStyle]="{ 'background-color': item }"
      (click)="updateColor(item)"
    ></button>
  </div>
</div>

<ng-template #showEmptyMessage>
  <div class="empty">
    <img src="/assets/pictures/empty.jpeg" alt="Empty Element">
    <br>
    <p> Start by Creating a new note or Select an Existing Note </p>
    <button class="btn btn-primary" (click)="addNewNote()">
      <mat-icon style="margin-right: 5px">add</mat-icon>
      Create New
    </button>
  </div>
</ng-template>
