<div
  *ngIf="
    selectedNote.note_id !== undefined && selectedNote.note_id !== 'empty';
    else showEmptyMessage
  "
  class="note-editor"
  [ngStyle]="{ background: selectedColor }"
>
  <input
    type="text"
    name="title"
    id="title"
    placeholder="Note Title"
    [(ngModel)]="title"
    [ngStyle]="{ background: selectedColor }"
  />
  <textarea
    [ngStyle]="{ background: selectedColor }"
    [(ngModel)]="body"
    name="body"
    placeholder="Note Body"
    id="body"
  ></textarea>
  <div class="note-view-bottom-options">
    <p class="last_opened">{{ time }}</p>
    <div>
      <button class="bt save" (click)="saveNote()"><mat-icon>done</mat-icon></button>
      <button class="bt clear" (click)="clearInput()" ><mat-icon>clear</mat-icon></button>
    </div>
  </div>
  <div class="colorpicker">
    <button
      *ngFor="let item of colorArray"
      mat-mini-fab
      class="fab"
      [ngStyle]="{ 'background-color': item }"
      (click)="updateColor(item)"
    ></button>
  </div>
</div>

<ng-template #showEmptyMessage>
  <div class="empty">
    <img src="/assets/pictures/empty.jpeg" alt="Empty Element">
    <br>
    <p> Start by Creating a new note or Select an Existing Note </p>
    <button class="btn btn-primary" (click)="addNewNote()">Create New</button>
    <button class="btn btn-primary" (click)="toggleNav()">View Notes</button>
  </div>
</ng-template>
