.searchBar {
  width: 80vw;
  height: 40px;
  padding: 20px !important;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 3px 8px rgba(0, 0, 0, 0.13);
}
.btnSearch {
  width: 40px;
  height: 40px;
  background-color: #ef0a60;
  color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.11), 0 3px 8px rgba(0, 0, 0, 0.13);
}

.searchBar:focus {
  outline: none;
  border: none;
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 5), 1fr));
  grid-auto-rows: auto;
  transition: all 1s ease-in-out;
  padding: 10px;
  column-gap: 10px;
  width: 100% !important;
  background-color: lightgray;
  overflow-x: hidden;
}
/* .note {
  width: calc((100vw / 4) - 2rem);
} */

@media screen and (max-width: 1080px) {
  .notes-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 4), 1fr));
  }
}

@media screen and (max-width: 768) {
  .notes-container {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(calc(100vw / 3), 1fr));
  }
}
