.note-parent {
  display: flex;
  width: 100vw;
  height: 94vh;
}

.note-view {
  left: 0;
  height: 100%;
  width: 100%;
  transition: position 0.3s ease-in;
  /*flex: 1 1 auto;*/
}
.notes-container {
  position: relative;
  max-width: calc((100vw / 3) - 2rem);
  /*flex: 0 0 auto;*/
  min-width: 300px;
  overflow-y: scroll;
  transition: all 0.2s ease-in;
  transition-delay: 0s;
  padding: 0 0.6rem;
  margin-top: 10px;
}
.notes-container:first-child {
  padding-top: 0px;
}


@media screen and (max-width: 680px) {

}
