@font-face {
  font-family: brand;
  src: url("/assets/fonts/Vonique64.ttf");
}
.titlebar{
  position: fixed;
  display: block;
  flex-direction: row;
  width: 100vw;
  min-height: 30px;
  background: transparent;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  z-index: 100;
}
.head{
  padding: 8px;
  float: right !important;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 8px;
}
.head:first-child{
  margin-right: 15px;
}
.close {
  background: linear-gradient(#c10855 , #b6359c);
}
.max {
  background: linear-gradient(darkgreen , forestgreen);
}
.min {
  background: linear-gradient(coral , orange);
}
