@font-face {
  font-family: brand;
  src: url("/assets/fonts/Vonique64.ttf");
}
.titlebar{
  position: fixed;
  display: block;
  flex-direction: row;
  width: 100vw;
  min-height: 30px;
  background: transparent;
  /* -webkit-user-select: all; */
  -webkit-app-region: drag;
  /* user-select: all; */
  z-index: 90;
}
.head{
  padding: 8px;
  float: right !important;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 8px;
  -webkit-app-region: none;
}
.head:first-child{
  margin-right: 15px;
}
.close {
  background: linear-gradient(#c10855 , #b6359c);
}
.max {
  background: linear-gradient(darkgreen , forestgreen);
}
.min {
  background: linear-gradient(coral , orange);
}

.close:hover{
  background: linear-gradient(#580327 , #551949);
}
.max:hover{
  background: linear-gradient(rgb(0, 54, 0) , rgb(18, 75, 18));
}
.min:hover {
  background: linear-gradient(rgb(153, 77, 49) , rgb(126, 82, 0));
}
