.profile {
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.profile img {
  height: 121px;
  clip-path: circle();
  border: 2px solid white;
}

.profile_details {
  position: relative;
  display: block;
  width: 100%;
  /*top: -15px;*/
  color: black;
  padding-left: 1rem;
}


.toolbar {
  display: block;
  margin-top: 1.6rem;
  background-color: transparent;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.toolbar button {
  border: none;
  background: linear-gradient(var(--accent), var(--accent-secondary));
  box-shadow: var(--shadow-wide);
  color: white;
  height: 40px;
  width: 57px;
  border-radius: 14px;
  margin-right: 2rem;
}

.toolbar button:hover {
  cursor: pointer;
}

mat-icon {
  vertical-align: middle;
}

.name {
  font-size: 1.2rem;
}

.email {
  font-size: 0.7rem;
}

.verified img {
  height: 20px;
  float: left;
}

.verified {
  height: 20px;
  text-align: center;
  display: flex;

}

.verified p {
  font-size: 0.6rem;
  height: 20px;
  position: relative;
  top: 10%;
}

@media screen and (max-width: 550px) {
  .toolbar button {
    margin-right: 0.6rem;
  }

  .profile {
    padding: 10px 0;
  }
}

@media screen and (max-width: 380px) {
  .toolbar button {
    margin-right: 0.2rem;
  }
}
